html, body{
    margin: 0;
}
body.stop-transitions * {
    transition: none !important;
}

.bg{
    width: 100vw;
    height: 100vh;
    background-color: rgb(8, 63, 8);
}
#ocean{
    width: 100%;
    height: calc(35vh);
    background-color: rgb(39, 186, 255);
    background-image: url("images/background/blue.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: repeat-x;
    image-rendering: pixelated;

    animation: roadmove 15s steps(23) infinite;
}
#grass{
    width: 100%;
    height: calc(20vh);
    transform: translateY(calc(8vh + 15vw));
    background-color: rgb(8, 63, 8);
    background-image: url("images/background/grass.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: repeat-x;
    image-rendering: pixelated;

    animation: roadmove 0.1s steps(15) infinite;
}
#railing{
    width: 100%;
    transform: translateY(0vh);
    height: calc(5vh);
    background-color: grey;
    background-image: url("images/road/railing.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: repeat-x;
    image-rendering: pixelated;
    animation: roadmove 0.5s steps(75) infinite;
}
.road{
    position: absolute;
    transform: translateY(0vh);
    height: calc(8vh + 15vw);
    width: 100%;
    background-color: rgb(42, 42, 42);
    background-image: url("images/road/chunk.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: repeat-x;

    image-rendering: pixelated;
    animation: roadmove 0.25s steps(25) infinite;
}

@keyframes roadmove{
    from {background-position-x: 100vw;}
    to {background-position-x: 0vw;}
}
.car{
    position: relative;
    top: calc(-1vh + 2vw);
    width: calc(15vh + 15vw);
    animation: nyoom 10s infinite;
    animation-timing-function: ease;
    transition: 5s;
}
#car2{
    position: relative;
    top: 1vh;
    filter:hue-rotate(200deg);
    animation-delay: 2s;
    left: calc(0% + 15vw);
}

.body{
    position: relative;
    background-color:whiteblue;
    width: calc(15vh + 15vw);
    height: auto;
}
.tires{
    position: absolute;
    width: calc(3.2vh + 3.2vw);
}
#tire1{
    right: 11%;
    bottom: -3%;;
    animation: bop 0.07s steps(2) infinite;
}
#tire2{
    width: 23%;
    left: 2%;
    bottom: -1%;
    animation: bop2 0.07s steps(2) infinite;
}

@keyframes nyoom{
    0%  {left: calc(0% + 15vw);}
    30% {left: calc(3% + 15vw);}
    50% {left: calc(2% + 15vw);}
    70% {left: calc(5% + 15vw);}
    100%{left: calc(0% + 15vw);}
}
@keyframes nyoom2{
    /* 0%{left: calc(10% + 0%);}
    30%{left: calc(10% + 3%);}
    50%{left: calc(10% + 2%);}
    70%{left: calc(10% + 5%);}
    100%{left: calc(10% + 0%);} */
    from {transform: translateX(0)}
    to{transform: translateX(200px)}
}
@keyframes bop{
    0%{bottom: calc(-4%);}
    50%{bottom: calc(-4% + 2px);}
    0%{bottom: calc(-4%);}
}
@keyframes bop2{
    0%{bottom: calc(-2%) + 2px;}
    50%{bottom: calc(-2%);}
    0%{bottom: calc(-2% + 2px);}
}
.car:hover {
    transition: 5s;
    transform: translateX(20vw)
}




img {
    image-rendering: pixelated;
    /* Safari seems to support, but seems deprecated and does the same thing as the others. */
}